*{padding:0;margin:0;box-sizing:border-box;}

body {
  height:100vh;
  width:100vw;
  background-color:lightblue;
}

p {  
  color:Red;
  font-size:30px;
  font-family:helvetica, arial, sans-serif;
  font-weight:bolder;
  }

.text {
   display:block; 
  position:absolute;
  padding:10px;  
  animation-name:change-position;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-duration:5s;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
}

@keyframes change-position {
  0%{transform: translate(0px, 0px);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
    background-color: green;
  }
  15%{letter-spacing:5px;
    background-color: yellow;
  }
  25%{ letter-spacing:0; background-color: orange;
   transform:translate(73vw, 50px) scaleX(1.0); }
  50%{transform:translate(73vw, 83vh) ;
  letter-spacing:0px;
  background-color: blue}
  65%{letter-spacing:5px;
    background-color: yellow}
  75%{letter-spacing:0px;
    background-color: orange;
    transform:translate(0vw, 83vh);
  }
  100%{    transform: translate(0px, 0px);}
}

.cloud{
  height:150px;
  width:280px;
  border-radius:50%;
  background:white;
  border:5px solid white;
  margin-left:200px;
  position:relative;
  z-index:8;
  }
.cloud:before{
  content:"";
  position:absolute;
  height:75px;
  width:200px;
  background:white;
  border-radius:50px;
  border:5px solid white;
  left:-15px;
  bottom:-5px;
  }

.cloud:after{
    content:"";
  position:absolute;
  height:50px;
  width:205px;
  background:white;
  border-radius:50px;
  border:5px solid white;
  right:-15px;
  bottom:-5px;
  }
.wap {
  display: inline-block;
  width: 90px;
  height: 80px;
}
.sun {
  height: 100px;
  width: 100px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  left: 550px;
  top: 10px;
  box-shadow: 0 0 2px 2px white, 0 0 4px 4px yellow;
}